---
import { Icon } from 'astro-icon/components'
---

<div id="about" class="relative h-screen w-full flex flex-col md:flex-row items-center justify-center">
  <div class="flex flex-col gap-y-5 md:w-3/4">
    <p class="text-white text-3xl md:text-6xl leading-relaxed">
      Hi, I'm Takuya <br />
      Web Developer
    </p>
    <p class="text-white opacity-50 text-xl md:text-3xl">Front-End / Web Application Developer</p>
  </div>
  <div class="text-white flex flex-col gap-y-3 md:gap-y-8">
    <p class="text-xl md:text-4xl">Front-end engineer with a passion for building user-friendly and scalable web applications.</p>
    <p class="text-lg md:text-2xl">
      Experienced in collaborating with designers and backend developers to deliver fast, maintainable UIs using React,
      TypeScript, and Next.js.
    </p>
    <p class="text-lg md:text-2xl">
      Always curious and eager to improve—whether it's optimizing performance, learning new tech, or exploring UX best
      practices.
    </p>
    <p class="text-lg md:text-2xl">
      Outside of work, I enjoy playing soccer, watching anime, and diving into new ideas through coding side projects.
    </p>
  </div>
  <div
    id="about-move-to-bottom"
    class="hidden md:flex items-center gap-x-1 absolute bottom-12 right-6 text-white hover:text-gray-300 cursor-pointer text-sm [writing-mode:vertical-lr]"
  >
    Scroll to Bottom <Icon class="inline" name="down-arrow" />
  </div>
</div>

<script>
  import { PAGE_ID } from '../consts'
  import { getViewSectionId } from '../modules'
  import { currentPageId } from '../stores/pageId'

  document.getElementById('about-move-to-bottom')?.addEventListener('click', (e) => {
    e.preventDefault()
    currentPageId.set(PAGE_ID.CONTACT)
    const sectionId = getViewSectionId(PAGE_ID.CONTACT)
    document.getElementById(sectionId)?.scrollIntoView({ behavior: 'smooth' })
  })
</script>
