

<div id="contact" class="h-screen w-full flex items-center justify-center">
    <div id="globe-container" class="w-2/3 h-screen">
        <div id="globe" class="w-full h-full"></div>
    </div>    
    <div class="flex flex-col w-1/3 gap-y-4">
        <div class="text-white">What would you do if you had a software </br> expert available at your fingertips?</div>
        <div class="text-white">Want to start new project? Or just say hey.</br> You can also follow me on LinkedIn.</div>
        <div class="text-white text-3xl">Test@gmail.com</div>
    </div>
</div>

<script>
    import Globe from "globe.gl";
    import {GLOBE_OPTIONS} from "../consts"

    const globeContainer = document.getElementById('globe-container') || document.createElement('div');
    const width = globeContainer.offsetWidth;
    const height = globeContainer.offsetHeight;

    const domElement = document.getElementById("globe") || document.createElement("div");

    const myGlobe = Globe()(domElement)
    .width(width)   
    .height(height) 
    .globeImageUrl(GLOBE_OPTIONS.globeImageUrl)
    .backgroundColor(GLOBE_OPTIONS.backgroundColor)
    .pointsData(GLOBE_OPTIONS.pointsData)
    .pointLat(GLOBE_OPTIONS.pointLat)
    .pointLng(GLOBE_OPTIONS.pointLng)
    .pointColor(GLOBE_OPTIONS.pointColor)
    .pointAltitude(GLOBE_OPTIONS.pointAltitude)
    .onGlobeClick(() => {
      myGlobe.controls().autoRotate = !myGlobe.controls().autoRotate;
    });

    window.addEventListener('resize', () => {
        const newWidth = globeContainer.offsetWidth;
        const newHeight = globeContainer.offsetHeight;

        myGlobe.width(newWidth).height(newHeight);
    });
</script>