---
import { Icon } from 'astro-icon/components'
---

<div
  id="contact"
  class="relative md:h-screen mt-28 md:mt-0 mb-28 md:mb-0 w-full flex items-center justify-center gap-x-5"
>
  <div id="globe-container" class="hidden md:block w-3/5 h-screen">
    <div id="globe" class="w-full h-full"></div>
  </div>
  <div class="flex flex-col gap-y-4">
    <p class="text-2xl md:text-4xl">
      What would you do if you had a software <br />
      expert available at your fingertips?
    </p>
    <p class="text-xl md:text-3xl">
      Want to start a new project? Or just say hey. You can also follow me on
      <a
        class="cursor-pointer text-yellow-300 hover:text-yellow-100"
        href="https://www.linkedin.com/in/takuya-nemoto-4855501a8/"
        target="_blank"
      >
        Linkedin
      </a>!
    </p>
    <p class="text-2xl md:text-4xl">tnemoto007@gmail.com</p>
  </div>
  <div
    id="contact-move-to-top"
    class="hidden md:flex items-center gap-x-1 absolute bottom-12 right-6 hover:text-gray-300 cursor-pointer text-sm [writing-mode:vertical-lr]"
  >
    <Icon class="inline" name="up-arrow" /> Scroll to Top
  </div>
</div>

<script>
  import Globe from 'globe.gl'
  import { GLOBE_OPTIONS } from '../consts'
  import { currentPageId } from '../stores/pageId'
  import { getViewSectionId } from '../modules'
  import { PAGE_ID } from '../consts'

  const globeContainer = document.getElementById('globe-container') || document.createElement('div')
  const width = globeContainer.offsetWidth
  const height = globeContainer.offsetHeight

  const domElement = document.getElementById('globe') || document.createElement('div')

  const myGlobe = new Globe(domElement)
    .width(width)
    .height(height)
    .globeImageUrl(GLOBE_OPTIONS.globeImageUrl)
    .backgroundColor(GLOBE_OPTIONS.backgroundColor)
    .pointsData(GLOBE_OPTIONS.pointsData)
    .pointLat(GLOBE_OPTIONS.pointLat)
    .pointLng(GLOBE_OPTIONS.pointLng)
    .pointColor(GLOBE_OPTIONS.pointColor)
    .pointAltitude(GLOBE_OPTIONS.pointAltitude)
    .onGlobeClick(() => {
      myGlobe.controls().autoRotate = !myGlobe.controls().autoRotate
    })

  window.addEventListener('resize', () => {
    const newWidth = globeContainer.offsetWidth
    const newHeight = globeContainer.offsetHeight

    myGlobe.width(newWidth).height(newHeight)
  })

  document.getElementById('contact-move-to-top')?.addEventListener('click', (e) => {
    e.preventDefault()
    currentPageId.set(PAGE_ID.HOME)
    const sectionId = getViewSectionId(PAGE_ID.HOME)
    document.getElementById(sectionId)?.scrollIntoView({ behavior: 'smooth' })
  })
</script>
