---
import { Icon } from 'astro-icon/components'
import animationData from '../../public/animated-icons/mouse.json'
import AnimationIconComponent from './AnimationIconComponent'
---

<div id="home" class="h-screen w-full bg-gray-900 flex justify-center items-center">
  <div class="flex flex-col w-full md:w-2/3 gap-y-5 pl-16 md:pl-24">
    <!-- TODO: add animation to each letter -->
    <p class="text-5xl md:text-6xl font-bold text-white hover:animate-text-shadow-pop-tr">
      Front-End / <br /> Web Application <br /> Developer
    </p>
    <p class="text-2xl md:text-xl text-white">
      Building modern web apps with React, TypeScript, and Tailwind. I focus on clean UI, performance, and code
      maintainability — crafting smooth user experiences in close collaboration with designers and backend engineers.
    </p>
    <a id="home-move-to-about" class="text-cyan-400 hover:text-cyan-300 text-2xl md:text-base font-bold" href="">
      About me <Icon class="inline" name="right-arrow" />
    </a>
  </div>
  <div class="w-2/5"></div>
  <div class="hidden md:block md:absolute bottom-12 left-1/2 h-12 w-12 bg-white rounded-lg opacity-40">
    <AnimationIconComponent client:only animationData={animationData} />
  </div>
  <div
    id="home-move-to-bottom"
    class="flex items-center gap-x-1 absolute bottom-12 right-6 text-white hover:text-gray-300 cursor-pointer text-sm [writing-mode:vertical-lr]"
  >
    Scroll to Bottom <Icon class="inline" name="down-arrow" />
  </div>
</div>

<script>
  import { currentPageId } from '../stores/pageId'
  import { getViewSectionId } from '../modules'
  import { PAGE_ID } from '../consts'

  document.getElementById('home-move-to-about')?.addEventListener('click', (e) => {
    e.preventDefault()
    currentPageId.set(PAGE_ID.ABOUT)
    const sectionId = getViewSectionId(PAGE_ID.ABOUT)
    document.getElementById(sectionId)?.scrollIntoView({ behavior: 'smooth' })
  })

  document.getElementById('home-move-to-bottom')?.addEventListener('click', (e) => {
    e.preventDefault()
    currentPageId.set(PAGE_ID.CONTACT)
    const sectionId = getViewSectionId(PAGE_ID.CONTACT)
    document.getElementById(sectionId)?.scrollIntoView({ behavior: 'smooth' })
  })
</script>
