---
import {Icon} from "astro-icon/components"
---

<div id="home" class="h-screen w-full bg-gray-900 flex justify-center items-center">
    <div class="flex flex-col w-2/5 gap-y-5">
        <div class="text-6xl font-bold text-white">Front-End Software </br> Developer</div>
        <div class="text-xl text-white">Resolving design problems, building smart user interfaces and useful interactions, developing rich web applications and seamless web experiences.</div>
        <a class="text-purple-600 font-cbold" href="">About me <Icon class="inline" name="right-arrow" /></a>
    </div>
    <div class="w-2/5"></div>
</div>