---
import {Icon} from "astro-icon/components"
---

<div id="projects" class="h-screen w-full flex flex-col items-center justify-center gap-y-6">
    <div class="text-white text-6xl">Projects</div>
    <div class="text-white w-1/2 text-center">I have built various different projects to fit different aspects of the client's business. If you want to see more examples of my work than the ones showcased in this site, please <a class="cursor-pointer text-yellow-300 hover:text-yellow-100" href="">contact me!</a></div>
    <a class="text-purple-600 font-cbold" href="">About me <Icon class="inline" name="right-arrow" /></a>
</div>