---
import { Icon } from "astro-icon/components";
import {MY_SKILLS} from "../consts";
---

<div id="skills" class="relative h-screen w-full flex flex-col items-center justify-center gap-y-3">
    <div class="text-white opacity-30 text-xl">A PROBLEM IS A CHANCE FOR YOU TO DO YOUR BEST.</div>
    <div class="text-white text-6xl">Skills & Experience</div>
    <div class="text-white w-1/2 text-center">The main area of expertise is front end development (client side of the web).</br></br>HTML, CSS, JS, building small and medium web applications with Vue or React, custom plugins, features, animations, and coding interactive layouts. I have also full-stack developer experience with one of the most popular open source CMS on the web - WordPress</div>
    <div class="text-white">Visit my <a class="cursor-pointer text-yellow-300 hover:text-yellow-100" href="https://www.linkedin.com/in/takuya-nemoto-4855501a8/" target="_blank">Linkedin</a> for more details.</div>
    <div class="mt-6 h-1/3 w-2/3 flex flex-wrap justify-center gap-4">
        {MY_SKILLS.map(item => (
            <div class="flex flex-col items-center justify-center">
                <Icon class="size-28" name={item.icon} />    
                <div class="text-white">{item.name}</div>
            </div>
        ))}
    </div>
    <div id="skills-move-to-bottom"
        class="flex items-center gap-x-1 absolute bottom-12 right-6 text-white hover:text-gray-300 cursor-pointer text-sm [writing-mode:vertical-lr]">
        Scroll to Bottom <Icon class="inline" name="down-arrow" />
  </div>
</div> 

<script>
    import { currentPageId } from '../stores/pageId';
    import { getViewSectionId } from "../modules"
    import { PAGE_ID } from "../consts"

    document.getElementById("skills-move-to-bottom")?.addEventListener("click", (e) => {
        e.preventDefault()
        currentPageId.set(PAGE_ID.CONTACT)
        const sectionId = getViewSectionId(PAGE_ID.CONTACT)
        document.getElementById(sectionId)?.scrollIntoView({behavior: "smooth"})
    })
</script>