---
import { Icon } from 'astro-icon/components'
import { MY_SKILLS } from '../consts'
---

<div id="skills" class="relative h-screen w-full flex flex-col items-center justify-center gap-y-5 md:gap-y-10">
  <div class="text-white text-3xl md:text-6xl">Skills & Experience</div>
  <div class="text-white text-center text-lg md:text-2xl flex flex-col gap-y-5">
    <p>The main area of expertise is modern front-end development using React and Next.js.</p>
    <p>
      I specialize in building scalable web applications with TypeScript, Tailwind CSS, and various tools such as
      TanStack Query and Vitest. I have experience collaborating closely with designers and back-end engineers in agile
      teams, focusing on performance, maintainability, and user experience.
    </p>
  </div>
  <p class="text-white text-lg md:text-2xl">
    Visit my
    <a
      class="cursor-pointer text-yellow-300 hover:text-yellow-100"
      href="https://www.linkedin.com/in/takuya-nemoto-4855501a8/"
      target="_blank"
    >
      Linkedin
    </a>
    for more details.
  </p>
  <div class="md:h-1/3 md:w-2/3 flex flex-wrap justify-center gap-2 md:gap-4">
    {
      MY_SKILLS.map((item) => (
        <div class="flex flex-col items-center justify-center gap-y-4">
          <Icon class="size-12 md:size-24" name={item.icon} />
          <div class="text-white text-sm">{item.name}</div>
        </div>
      ))
    }
  </div>
  <div
    id="skills-move-to-bottom"
    class="hidden md:flex items-center gap-x-1 absolute bottom-12 right-6 text-white hover:text-gray-300 cursor-pointer text-sm [writing-mode:vertical-lr]"
  >
    Scroll to Bottom <Icon class="inline" name="down-arrow" />
  </div>
</div>

<script>
  import { currentPageId } from '../stores/pageId'
  import { getViewSectionId } from '../modules'
  import { PAGE_ID } from '../consts'

  document.getElementById('skills-move-to-bottom')?.addEventListener('click', (e) => {
    e.preventDefault()
    currentPageId.set(PAGE_ID.CONTACT)
    const sectionId = getViewSectionId(PAGE_ID.CONTACT)
    document.getElementById(sectionId)?.scrollIntoView({ behavior: 'smooth' })
  })
</script>
